*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
  color: white;
  background-color: black;
}

/* UTILITY */

.d-flex{
  display: flex;
}

.flex-wrap{
  flex-wrap: wrap;
}

.justify-content-center{
  justify-content: center;
}

.align-center{
  align-items: center;
}

.justify-content-between{
  justify-content: space-between;
}

.debug{
  border: 1px solid rgb(255, 0, 0);
  background-color: rgba (255, 0, 0, .2);
}

/* COLORS */

.darkgrey{
  background-color: #222222;
}

.grey{
  background-color: rgba(0, 0, 0, .35);
}

.black{
  background-color: black;
}

.white{
  background-color: white;
}

.green{
  background-color: green;
}

.red{
  background-color: red;
}

/* MAIN */

.top-block{
  height: 65px;
}

.main-block{
  height: calc(100vh - 165px);
  overflow: auto;
  flex-wrap: wrap;
  padding: 0 0 0px 50px;
}

.bottom-bar{
  height: 75px;
}

/* USERS */

.main-block .user{
  display: inline-block;
  margin-right: 4px;
  margin-bottom: 8px;
  position: relative;
}

.user .microp-user{
  position: absolute;
  left: 0px;
  bottom: 0px;
  padding: 5px;
}

/* BOTTOM BAR */

